<section class="{{ prefix }}-m-error404Page">
  {{!-- {{>hero-nav}} --}}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="{{ prefix }}-m-error404Page_content">
          <a href="/#what-is-hep-delta" class="{{ prefix }}-m-error404Page_content__logo">
             <img src="/images/global/logo.svg" alt="logo">
          </a>
          <h1>{{ data.title }}</h1>
          <h6>{{ data.mainText }}</h6>
          <p class="cta-text-404">{{{ data.ctaText }}}</p>
          <div class="{{ prefix }}-m-error404Page_content__footer"></div>
        </div>
      </div>
    </div>
  </div>
</section>
