<section class="{{ prefix }}-m-thank-you">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="{{ prefix }}-m-thank-you_content">
          <a href="/#what-is-hep-delta" class="{{ prefix }}-m-thank-you_content__logo">
             <img src="/images/global/logo.svg" alt="logo">
          </a>
          <h1>{{ data.title }}</h1>
          <h6>{{ data.subheadline }}</h6>
          <p>{{ data.topic }}</p>
          <img class="{{ prefix }}-m-thank-you_content__img" src="/images/hero/{{ data.hero_img }}" alt="{{ data.hero_img_alt }}">
        </div>
      </div>
    </div>
  </div>
</section>
